<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form name="addUserForm" ng-controller="AddUserController">
        <div>First Name: <input ng-model="user.firstName" required ng-maxlength="10" ng-minlength="1"></div>
        <div><button ng-click="addUser()" ng-disabled="!addUserForm.$valid">Submit</button></div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="js/app/validationExample.js"></script>
</body>
</html>